{% extends 'base.html.twig' %}
{% block body_id 'register' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block main %}
{{ form_start(form) }}
	{{ form_row(form.fullname) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.status) }}

<button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}
