{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1><b>{{ 'Welcome to mentorship!' }}</b></h1>
            <div class="section" style="align-content:center" >
                <p><i>This is mentorship application which helps students to enroll desired subject,<br>
                    as well as manages students through the mentor's role.Once you've created account you can enroll subjects,<br>
                    change it's status during the education period.<br>In case you are the mentor,you can add new subjects or edit existing ones.<br>
                        As a mentor,you are allowed to edit each of the student's current statuses.<br><br><b>Notice!</b>Mentor's role is only granted by the OSS.</i></p>
            </div>
    </div>
    <div class="section">
        <p>New User? <b>Register!</b></p>
        <a href="{{ path('user_registration') }}" class="btn btn-lg btn-primary">
            <i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'register' }}
        </a>
        <div>
            <br><p>Existing user? <b>Log in here!</b></p>
        <a href="{{ path('app_login') }}" class="btn btn-lg btn-primary">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> {{ 'login' }}
        </a>
        </div>
    </div>


    {{ parent() }}

{% endblock %}

