{{ form_start(form) }}
    {{ form_row(form.subjectName) }}
    {{ form_row(form.subjectKey) }}
    {{ form_row(form.program) }}
    {{ form_row(form.ects) }}
    {{ form_row(form.semester_fullTimeStudent) }}
    {{ form_row(form.semester_partTimeStudent) }}
    {{ form_row(form.optionalSubject) }}
    {{ form_row(form.termsAccepted) }}

<button type="submit">Create!</button>
{{ form_end(form) }}