{% extends 'user/layout.html.twig' %}

{% block body_id 'subject_new' %}

{% block main %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    <div class="page-header"><h2><b>Create New Subject</b></h2></div>

    {{ form_start(form) }}
    {{ form_widget(form.saveAndCreateNew, {label: 'label.save_and_create_new', attr: {class: 'btn btn-primary'}}) }}

    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i> {{ 'create subject'}}
    </button>

    <a href="{{ path('subject_index') }}" class="btn btn-link">
        <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'Back To List' }}
    </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}