{% extends 'base.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}

    <h1>{{ 'Edit your personal info' }}</h1>
    {% form_theme editForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(editForm) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
        </a>

        <a href="{{ path('app_index') }}" class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-backward" aria-hidden="true"></i> {{ 'Back to homepage' }}
        </a>
    </div>
{% endblock %}
