{% extends 'base.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}
    <h1>{{ 'title.edit_user'|trans }}</h1>
    <div class="container container-table">
        <div class="row vertical-center-row">
            <div class="text-center col-md-4 col-md-offset-4 alert-info"><b>Here you can edit your personal info.</b></div>
        </div>
    </div>

    {{ form_start(editForm) }}
        {{ form_widget(editForm) }}
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    {{ form_end(editForm) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
        </a>

        <a href="{{ path('user_editSubjects') }}" class="btn btn-lg btn-block btn-primary">
            <i class="fa fa-list" aria-hidden="true"></i> {{ 'Back to Subjects' }}
        </a>
    </div>
{% endblock %}
