
{% extends 'user/layout.html.twig' %}

{% block body_id 'user_index' %}

{% block main %}
    {% set continue = false %}
    <h2><b>List of registered students :</b></h2>
    <table class="table table-bordered table-hover">
        <thead class="alert-info">
        <tr>
            <b><th scope="col">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Username</th>
            <th scope="col">e-mail</th>
                <th scope="col">Status</th></b>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if user.id==31 %}
                {% set continue = true %}
            {% endif %}
            {% if not continue %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td scope="col">{{ user.fullname }}</td>
            <td scope="col">{{ user.username }}</td>
            <td scope="col">{{ user.email }}</td>
            <td scope="col">{{ user.status }}</td>
            <td class="text-right">
                <div class="item-actions">
                    <form action="{{ url('user_delete',{id: user.id}) }}" method="post" id="delete-form">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <button type="submit" class="btn btn-sm btn-block btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            {{ 'Delete' }} {{ 'WARNING!!! Deleting permanent!' }}
                        </button>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('admin.index', {id: user.id}) }}" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                                </a>
                            </li>
                        {% endif %}
                    </form>
                </div>
            </td>
        </tr>
            {% endif %}
            {% if continue %}
                {% set continue = false %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
