{% extends 'base.html.twig' %}

{% block body_id 'user_showUsersSubjects' %}

{% block main %}
    <h1>{{ 'Edit subjects status' }} : {{ user.getFullname() }}</h1>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naziv</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <th scope="row">{{ subject.subject.id }}</th>
                        <td>{{ subject.subject.subjectName }}</td>
                        <td>{{ subject.status }}</td>
                        <td class="text-right">
                            <div class="item-actions">

                            <a href="{{ path('editStatus') }}" class="btn btn-outline-success btn-sm">Dodijeli</a>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}