{% extends 'base.html.twig' %}

{% block body_id 'user_showUsersSubjects' %}

{% block main %}
    <div class="page-header">
        <h3><b>{{ 'Hello' }} {{ user.fullname }} {{ 'Here is your current progress!' }}</b></h3></div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead class="alert-info">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Subject Name</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <th scope="row">{{ subject.subject.subjectKey }}</th>
                        <td>{{ subject.subject.subjectName }}</td>
                        <td>{{ subject.status }}</td>
                        <td class="text-right">
                            <div class="item-actions">

                                <a href="{{ path('editStatus', {id: subject.subject.id}) }}" class="btn btn-sm btn-block btn-success">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Edit Status' }}
                                </a>

                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    <div class="section">
        <a href="{{ path('enroll_subject') }}" class="btn btn-lg btn-primary">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ 'Enroll New Subject' }}
        </a>
    </div>

    {{ parent() }}

{% endblock %}
