{% extends 'user/layout.html.twig' %}

{% block body_id 'subject_show' %}

{% block main %}
    <h1>{{ subject.subjectKey }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-user"></i> {{ subject.subjectName }}</span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'Program ' }}</strong>: {{ subject.program }}</p>
        <p class="m-b-0"><strong>{{ 'Ects ' }}</strong>: {{ subject.ects }}</p>
        <p class="m-b-0"><strong>{{ 'Semester/regular ' }}</strong>: {{ subject.semesterFullTimeStudent }}</p>
        <p class="m-b-0"><strong>{{ 'Semester/irregular ' }}</strong>: {{ subject.semesterPartTimeStudent }}</p>
        <p class="m-b-0"><strong>{{ 'Optional ' }}</strong>: {{ subject.optionalSubject }}</p>
    </div>

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('subject_edit', {id: subject.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'edit' }}
        </a>
    </div>

    <div class="section">
        {{ include('user/deleteSubject.html.twig', {subject: subject}, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}
